{+styles
print:
   <style>
     <!--
     p { 		
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 12pt}^
     a { 		
            font-family: Verdana, Arial, Sanserif;
   			color: white; font-size: 12pt}^
     h1 { 		
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 24pt}^
     h2 {	 	
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 12pt;
   			font-weight: bold; }^
     body {
			background-color: #101010; }^
     input.button {
            margin-top: 7px;
            margin-left: 5px; }^
     input.dir_button {
            margin-top: 0px;
            margin-left: 0px; }^
     div.header { 		
            font-family: Verdana, Arial, Sanserif;
			height: 85px;
.
write "     background-color: " header_colour "; }^"
print:
     div.links { 		
			opacity: 0.5;
			position: absolute;
			top: 71px;
			right: 8px;
			left: 8px;
			height: 22px;
            font-family: Verdana, Arial, Sanserif;
			padding-right: 10px;
			text-align: right;
.
write "     background-color: " linkbar_colour "; }^"
print:
     div.directions { 		
			opacity: 0.5;
			height: 22px;
            font-family: Verdana, Arial, Sanserif;
			padding-right: 10px;
			text-align: right;
			color: white;
.
write "     background-color: " linkbar_colour "; }^"
print:
	 img.compass { 
			border: none;
			border-size: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
			margin-bottom: 0;
            margin-left: 0;
			margin-top: 0; }^
	 img.main { 
            width: 480px;
            height: 380px;
            margin-left: 8;
			margin-top: 8; }^
     div.picture { 
			position: absolute;
			right: 8px;
			top: 93px;
			width: 496px;
			height: 396px;
			float: right;
			background: white;
			border-style: solid;
			border-width: 2px;
			border-color: grey; }^
     div.maintext {
     		font-family: Verdana, Arial, Sanserif;
			height: 370px; 
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 50px;
			padding-right: 50px;
			overflow: auto;
.
ifstring current_image != "none"
   write "  margin-right: 500px;"
endif
write "background-color: " maintext_colour "; }^"
print:
     div.command_prompt {
            float: left;
            text-align: center; 
            padding-left: 50;
.
#if gui_mode = AJAX
#   write "padding-top: 20; }^"
#else
   write "padding-top: 70; }^"
#endif
print:
     div.footer {
     		font-family: Verdana, Arial, Sanserif;
.
#if gui_mode = AJAX
#   write "height: 100px;"
#else
   write "height: 208px;"
#endif
ifstring footer_image != "none"
   write "background-image: url('" footer_image "');"
   write "background-repeat:no-repeat;"
endif
write "     background-color: " header_colour "; }^"
print:
     div.interface {
			position: relative;
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			float: left; }^
     div.compass {
.
write "     background-color: " maintext_colour ";"
print:
			border-style: solid;
			border-width: 2px;
			border-color: black;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			float: right;}^
	select {
		width: 200px; }^
     -->
   </style>
.
}
